@use "./base.scss";

@font-face {
  font-family: "MayoClinicSerif";
  src: url("/static/fonts/mayoclinicserif-regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "MayoClinicSerif";
  src: url("/static/fonts/mayoclinicserif-bold.otf") format("opentype");
  font-weight: 700;
}

body[data-slug="index"] .content-meta {
  display: none;
}

@font-face {
  font-family: "NotoSansMono";
  src: url("/static/fonts/NotoSansMono-VariableFont_wdth,wght.ttf") format("truetype");
}

body {
  font-family: "NotoSansMono", monospace !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "MayoClinicSerif", serif;
}

